name: coverage

on:
  push:
    branches:
     - main
  pull_request:

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18
        stable: false
    - name: Coverage
      run: go test -v ./... -coverprofile=coverage.txt -covermode=atomic
    - name: Codecov
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./cover.out
        flags: unittests
        verbose: true